<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.fragments"
    android:versionCode="21"
    android:versionName="2.1" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true" >
        <activity
            android:name="com.example.android.fragments.MainFaceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat"
            android:hardwareAccelerated="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.fragments.FdActivity"
            android:label="@string/title_activity_main_face" >
        </activity>
        <activity
            android:name="com.example.android.fragments.OpenGLActivity"
            android:label="@string/title_activity_openGL" >
        </activity>
        <activity
            android:name="com.example.android.fragments.FraggerActivity"
            android:label="@string/title_activity_openGL" >
        </activity>
        <activity
            android:name="com.example.android.fragments.TextureActivity"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_texture" >
        </activity>
        <activity
            android:name="com.example.android.fragments.TestMainActivity"
            android:label="@string/title_activity_test_main" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

</manifest>
